@use '../../styles/shared.scss' as *;
.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    position: relative;
    z-index: 1;
    button {
        width: 2rem;
        height: 2rem;
        background: none;
        border-radius: 50%;
        color: $white;
        border: 0.1rem solid $white;
        cursor: pointer;
        &.active {
            background-color: $magnolia;
            color: $blue-marine;
        }
    }
    .step {
        display: none;
    }
    .info {
        display: none;
    }
}
@include brakePoint-up('medium') {
    .buttons {
        flex-direction: column;
        .info-cont {
            display: flex;
            gap: 1rem;
            width: 100%;
            button {
                width: 3rem;
                height: 3rem;
            }
            .step {
                color: $gray-cool;
                display: block;
            }
            .info {
                color: $white;
                display: block;
            }
        }
    }
}
