<div class="container">
    <div class="title">Select your plan</div>
    <div class="title-small">
        You have the option of montly or yearly billing.
    </div>
    <div class="subscriptions">
        <div
            class="flex-outer-container"
            *ngFor="let item of data; let i = index"
        >
            <div
                class="subscription"
                (click)="chooseSubscription(i)"
                [ngClass]="{ subscriptionChoosen: subscriptionChoosen == i }"
            >
                <div class="flex-inner-container">
                    <img src="{{ item.imagePath }}" alt="arcade-icon" />
                    <div class="subscription-data-cont">
                        <div class="subscription-data">
                            <div class="subscription-data-name">
                                {{ item.header }}
                            </div>
                            <div class="subscription-data-price">
                                {{ item.price }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="trial" *ngIf="clicked">{{ item.trial }}</div>
            </div>
        </div>
        <div class="billing">
            <span [ngClass]="{ 'blue-marine': !clicked, 'color-gray': clicked }"
                >Monthly</span
            >
            <app-toggle (toggleEmitter)="changeToggle($event)"></app-toggle>
            <span [ngClass]="{ 'blue-marine': clicked, 'color-gray': !clicked }"
                >Yearly</span
            >
        </div>
    </div>
    <div class="footer">
        <button type="button" class="back" (click)="back()">Go Back</button>
        <button type="button" class="next" (click)="next()">Next Step</button>
    </div>
</div>
