<div class="container">
  <div class="title">Select your plan</div>
  <div class="title-small">
    You have the option of montly or yearly billing.
  </div>
  <div class="subscriptions">
    <div class="subscription">
      <img
        src="../../../../../assets/images/icon-arcade.svg"
        alt="arcade-icon"
      />
      <div class="subscription-data">
        <div class="subscription-data-name">Arcade</div>
        <div class="subscription-data-price">$9/mo</div>
      </div>
    </div>
    <div class="subscription">
      <img
        src="../../../../../assets/images/icon-advanced.svg"
        alt="advanced-icon"
      />
      <div class="subscription-data">
        <div class="subscription-data-name">Advanced</div>
        <div class="subscription-data-price">$12/mo</div>
      </div>
    </div>
    <div class="subscription">
      <img src="../../../../../assets/images/icon-pro.svg" alt="pro-icon" />
      <div class="subscription-data">
        <div class="subscription-data-name">Pro</div>
        <div class="subscription-data-price">$15/mo</div>
      </div>
    </div>
    <div class="billing">
      <span>Monthly</span>
      <span>toggle</span>
      <span>Yearly</span>
    </div>
  </div>
</div>
