@use '../../../../shared/styles/shared.scss' as *;
.container {
    @include container;
    align-items: center;
    gap: 1rem;
    height: 50vh;
    .checkmark {
        margin-bottom: 1rem;
        width: 5rem;
    }
    .title {
        @include title;
        &-small {
            width: 100%;
            text-align: center;
            color: $gray-cool;
        }
    }
}
@include brakePoint-up('medium') {
    :host {
        width: 100%;
    }
    .container {
        box-shadow: none;
        gap: 3rem;
    }
}
