@use '../../styles/shared.scss' as *;
@include brakePoint-down('medium') {
    .container {
        width: 100%;
        margin: 0 auto;
        position: relative;
        height: 100vh;
        background-color: $magnolia;
        .desktop {
            display: none;
        }
    }
    .background {
        display: flex;
        justify-content: center;
        align-items: center;
        background: url(../../../../assets/images/bg-sidebar-mobile.svg);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        height: 20vh;
    }
}
@include brakePoint-up('medium') {
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: $magnolia;
        height: 100vh;
        .inner-cont {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            // gap: 3rem;
            width: 80%;
            background-color: $white;
            padding: 1rem;
            .mobile {
                display: none;
            }
        }
    }
    .desktop {
        // width: 32%;
        .background {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            background: url(../../../../assets/images/bg-sidebar-desktop.svg);
            padding: 2rem;
            min-width: 22rem;
            // width: 100%;
            // background-size: cover;
            // background-repeat: no-repeat;
            height: 47rem;
            border-radius: 1rem;
        }
    }
}
